
*{
    padding: 0;
    margin: 0;
    font-family: Poppins,  Actor, Adamina;
  }

body{
  padding: 0;
  margin: 0;
}

#sect{
  background-image: url("../images/nav_bg.png");
  background-size: cover; 
  background-position: center center;
  height:80vh;
}

#section0{
 
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 40%;
}

#section0> .navdiv1> .navlist> li> a{
  text-decoration: none;
}

.navdiv1{
  list-style: none;
  text-decoration: none;
}

.navlist{
  list-style: none;
  justify-content: center;
  display: inline-flex;
  cursor: pointer;
  margin-right: 40px;
  margin-left: 40px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding-right: 50px;

}

.navlist > li > a{
  text-decoration: none;
  color: white;

}
li{
  min-width: 120px;
  list-style: none;
}

.login1{
  background-color: #faff00;
  color:black;
  padding: 5px 10px;
  border-radius: 0;
  border: 2px black;
  font-size: 20px;   
  margin-left: 40px;
  list-style: none;
  text-decoration: none;
}

.login2{
  background-color: black;
  color:#dbd943;
  padding: 5px 10px;
  border-radius: 0;
  border: 2px black;
  font-size: 20px; 
  margin-left: 40px;
  list-style: none;
  text-decoration: none;
}


#section1header1 > .header1 > .chem{
color: #faff00;
display: block;
font-size: 35px;

}

#section1header1 > .header1> .chem > .headerh1{
  font-size: 40px;
  color: #faff00;
  display: flex;
  font-size:100px;
  font-weight: lighter;
  align-items: flex-end;
  justify-content: flex-end;
  padding-left: 50px;
}


.headerh1{
  width: 50%;
  font-weight: 100;
  font-size: 90px;
  height: 50%;
}

.anotherweight{
  width: 50%;
  font-size: 80px;
  padding-left: 50px;
}

#section1header1 > .header1> p{
  display: flex;
  color: white;
  font-size: x-large;
  align-items: flex-start;
  justify-content: flex-start;
  float: left;
}



/* BODY 1 */
#body1{
  background-color: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
}

#body1 > .hustle{
display: flex;
}

#body1 > .hustle > .leftside{
  padding-left: 0%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#body1> .hustle > .leftside, .rightside{
  width: 50%;
}

#body1> .hustle > .leftside{
  display: flex;
  justify-content:flex-start;
  align-items: flex-start;
}

#body1 > .hustle > .rightside{
  padding-right: 30px;
  padding-left: 30px;
  display: inline-flexbox;
  justify-content: flex-start;
  align-items: flex-start;
}

#body1 > .hustle> .rightside > .learnmore{
  background-color: black;
  padding: 15px;
  color: #faff00;
  border-top-right-radius: 20px;
  font-size: 20px;
}

#body1> .hustle > .rightside > .learnmore > .more{
  color: #faff00;
  font-weight: lighter;
}

#body1 > .hustle > .rightside > .bodyh2{
  font-size: 60px;
  color: black;
  font-weight: lighter;
  padding-bottom: 20px;
  height: 40%;
  display: flex;
  align-items: flex-end;
}

#body1 > .hustle > .rightside > p{
  font-size: 25px;
  padding-bottom: 40px;
  width: 50%;
}


/* FOOTER */




.footer-title{
  background-color: black;
  color: white;
  font-size: 25px;
  padding-left: 325px;
  padding-bottom: 0px;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  font-weight: 100;
}

.colorh2{
  color: #db8500;
  font-weight: lighter;
}

.footer-container{
  background-color: black;
  padding-bottom:0px;
}
.footer{
  width: 75%;
  height: 30vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin:auto;

}
.footer-heading{
  display: inline-flex;
  flex-direction: column;
  margin-right: 4rem;
  font-size: 12px;
  justify-content: center;
}

.icons{
  display: flex;
  justify-content: space-around;
}

.footer-heading1{
  display: flex;
  flex-direction: column;
  margin-right: 0.05px;
  align-items: center;
  justify-content: center;
  padding-right: 1px;
}

.footer-heading h2{
  margin-bottom: 2rem;
  font-size: 16px;

}

.footer-heading a{
  color: white;
  text-decoration: none;
  margin-bottom: 0.5rem;

}
.footer-heading a:hover{
  color: #db8500;
  transition: 0.3s ease-out;
}
